<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>homepage</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>ServidorController</servlet-name>
        <servlet-class>controller.ServidorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SiteController</servlet-name>
        <servlet-class>controller.SiteController</servlet-class>
    </servlet>   
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>controller.AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BusquedaController</servlet-name>
        <servlet-class>controller.BusquedaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SolicitudController</servlet-name>
        <servlet-class>controller.SolicitudController</servlet-class>
        <multipart-config>
            <location>/tmp</location>
            <!-- Tamano maximo del archivo a subir-->
            <max-file-size>3145728</max-file-size>
            <max-request-size>418018841</max-request-size>
            <file-size-threshold>1048576</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServidorController</servlet-name>
        <url-pattern>/servidor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SiteController</servlet-name>
        <url-pattern>/homepage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BusquedaController</servlet-name>
        <url-pattern>/buscar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SolicitudController</servlet-name>
        <url-pattern>/solicitud</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
      30
    </session-timeout>
    </session-config>
</web-app>
